@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: "Stratum";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/stratum2.woff) format("woff2");
}
@font-face {
  font-family: "Stratum";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/stratum2-bold.woff) format("woff2");
}
@font-face {
  font-family: "FFDIN";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/FFDIN.woff2) format("woff2");
}
@font-face {
  font-family: "FFDIN";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/FFDIN-bold.woff2) format("woff2");
}

body {
  color: hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 9%);
  font-family: "FFDIN", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin-top: 6em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Stratum", "Open Sans", sans-serif;
  font-weight: 700;
}

.bg-dark {
  background-color: hsl(0, 0%, 9%) !important;
}

.navbar {
  border-bottom: 1px solid hsl(0, 0%, 25%) !important;
}

.navbar .nav-link.nuxt-link-exact-active {
  color: hsl(206, 70%, 68%);
  transition: all 0.2s ease-in-out;
}

.navbar .nav-link.nuxt-link-exact-active:hover,
.navbar .nav-link.nuxt-link-exact-active:focus {
  color: hsl(206, 70%, 75%);
}

.navbar-toggler {
  border: none;
}

.card {
  background-color: hsl(0, 0%, 9%);
  border: 1px solid hsl(0, 0%, 25%);
}

.card-title {
  font-family: "Stratum";
}

.bg-primary {
  background-color: hsl(206, 70%, 72%) !important;
}

.img-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(85%) contrast(90%);
}

a {
  color: hsl(206, 70%, 68%);
  transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
  color: hsl(206, 70%, 58%);
}

a:active {
  color: hsl(206, 70%, 48%);
}
